body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
/* --------------Estilos de Tabla Prestamo--------------------- */
body{
	background-color: transparent;
}
body{-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	margin:0}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.form_form_control__3fvx\+{background:#fbfbfb;height:32px;margin:3px;width:100%}.form_contenedor_two__X4ftB{background-color:#fff;min-height:85.9vh;overflow:hidden;position:relative;width:100%}.form_contenedor_two__X4ftB:before{background:linear-gradient(-45deg,#fac95f,#fdbe36);background:linear-gradient(-45deg,var(--color-before),var(--color-before-two));border-radius:10%;content:"";height:1000px;left:105%;position:absolute;top:66%;-webkit-transform:translateX(-70%);transform:translateX(-70%);transition:.3s ease-in-out;width:1200px;z-index:6}.form_form_contenedor__WIC6a{height:100%;left:0;position:absolute;top:5px;width:100%}.form_form__3TBro{align-items:center;display:flex;flex-direction:column;justify-content:center;overflow:hidden;padding:0 5rem;transition:.2s ease-in-out .7}.form_buro__j8gHk{border-radius:5px;margin-left:-70px;max-width:1000px;padding:25px 30px;position:absolute;width:100%;z-index:8}.form_buro_form__3BHHf{display:flex;flex-wrap:wrap;justify-content:space-between}.form_input_box__p57q6{margin-bottom:10px;width:calc(50% - 20px)}.form_input_box__p57q6 input{border:1px solid #ccc;border-radius:5px;font-size:16px;height:45px;outline:none;padding-left:15px;transition:all .3s ease;width:110%}.form_input_box__p57q6 input:focus,.form_input_box__p57q6 input:valid{border-color:#000}.form_data_bank__Slfil{width:100%}.form_data_bank__Slfil input{margin:5px}.form_details__FcqLm{display:block;font-weight:500;margin-bottom:5px}.form_image_form__ZkED4{width:80%}.form_image_bank__1wTEa{margin-top:10px;width:80%}.form_content__tcFtK{margin-left:55%}.form_form_panel__0DSJu{display:grid;grid-template-columns:repeat(1,fr);left:-10%;position:absolute;top:5%;width:100%}.form_panel_two__hWAOM{align-items:flex-end;display:flex;flex-direction:column;text-align:center;z-index:7}.form_panel_two__hWAOM h3{font-size:1.5em;font-weight:600;line-height:3}@media (max-width:1300px){.form_buro__j8gHk{border-radius:5px;margin-left:-70px;max-width:700px;padding:25px 30px;width:100%}.form_contenedor_two__X4ftB{min-height:100vh}}@media (max-width:900px){.form_image_bank__1wTEa,.form_image_form__ZkED4{display:none}.form_form_panel__0DSJu{color:#fff;display:grid;grid-template-columns:repeat(1,2fr);left:-10%;position:absolute;top:82%;width:100%}.form_buro__j8gHk{margin:auto;max-width:100%;position:absolute;z-index:8}.form_buro_form__3BHHf{margin-bottom:15px}.form_data_bank__Slfil{width:100%}.form_contenedor_two__X4ftB:before{background:linear-gradient(-45deg,#fac95f,#fdbe36);background:linear-gradient(-45deg,var(--color-before),var(--color-before-two));border-radius:10%;content:"";height:1000px;left:105%;position:absolute;top:80%;-webkit-transform:translateX(-70%);transform:translateX(-70%);transition:.3s ease-in-out;width:1200px;z-index:6}.form_contenedor_two__X4ftB{background-color:#fff;min-height:86.9vh;overflow:hidden;position:relative;width:100%}}@media (max-width:700px){.form_image_form__ZkED4{display:none}.form_form_panel__0DSJu{color:#fff;display:grid;grid-template-columns:repeat(1,2fr);left:-5%;position:absolute;top:82%;width:100%}.form_buro__j8gHk{max-width:100%}.form_input_box__p57q6{width:100%}.form_contenedor_two__X4ftB:before{background:linear-gradient(-45deg,#fac95f,#fdbe36);background:linear-gradient(-45deg,var(--color-before),var(--color-before-two));border-radius:10%;content:"";height:1000px;left:130%;position:absolute;top:80%;-webkit-transform:translateX(-70%);transform:translateX(-70%);transition:.3s ease-in-out;width:1200px;z-index:6}.form_contenedor_two__X4ftB{background-color:#fff;min-height:125vh;overflow:hidden;position:relative;width:100%}}@media (max-width:500px){.form_form_panel__0DSJu{color:#fff;display:grid;grid-template-columns:repeat(1,2fr);left:0;position:absolute;top:82%;width:100%}.form_buro__j8gHk{left:50%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);transition:.5s ease-in-out;width:120%;z-index:8}.form_input_box__p57q6 input{width:100%}.form_data_bank__Slfil{width:350px}.form_contenedor_two__X4ftB:before{background:linear-gradient(-45deg,#fac95f,#fdbe36);background:linear-gradient(-45deg,var(--color-before),var(--color-before-two));border-radius:10%;content:"";height:1000px;left:130%;position:absolute;top:80%;-webkit-transform:translateX(-70%);transform:translateX(-70%);transition:.3s ease-in-out;width:1200px;z-index:6}.form_contenedor_two__X4ftB{background-color:#fff;min-height:80vh;overflow:hidden;position:relative;width:100%}}:root{--principal-color:#ffc64b;--principal-hover:#fcb212;--color-before:#fac95f;--color-before-two:#fdbe36}*{box-sizing:border-box;margin:0;padding:0}.login_contenedor__y4ie4{background-color:#fff;min-height:90.9vh;overflow:hidden;position:relative;width:100%}.login_contenedor__y4ie4:before{background:linear-gradient(-45deg,#fac95f,#fdbe36);background:linear-gradient(-45deg,var(--color-before),var(--color-before-two));border-radius:50%;content:"";height:2000px;position:absolute;right:49%;top:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);transition:.3s ease-in-out;width:2000px;z-index:6}.login_forms_container__tHLQ2{height:100%;left:0;position:absolute;top:0;width:100%}.login_sign_in_form__0mkGm{align-items:center;display:flex;flex-direction:column;justify-content:center;overflow:hidden;padding:0 5rem;transition:.2s ease-in-out .7}.login_title__gIg3k{color:#444;font-size:2.2rem;margin-bottom:10px}.login_input_field__PI3Np{background:#f0f0f0;border-radius:55px;display:grid;grid-template-columns:15% 85%;height:55px;margin:10px 0;max-width:380px;padding:0 .4rem;width:100%}.login_input_field__PI3Np i{color:#cacaca;font-size:1.1rem;line-height:55px;text-align:center}.login_input_field__PI3Np input{background:none;border:none;color:#333;font-size:1.1rem;font-weight:600;line-height:1;outline:none}.login_input_field__PI3Np input::-webkit-input-placeholder{color:#aaa;font-weight:500}.login_input_field__PI3Np input:-ms-input-placeholder{color:#aaa;font-weight:500}.login_input_field__PI3Np input::placeholder{color:#aaa;font-weight:500}.login_button__5MVTv{background-color:#ffc64b;background-color:var(--principal-color);border:2px solid #fff;border-radius:49px;color:#fff;font-weight:600;height:49px;margin:10px 0;outline:none;text-transform:uppercase;transition:.5s;width:150px}.login_button__5MVTv a{color:#fff;text-decoration:none}.login_button__5MVTv:hover{background-color:#fcb212;background-color:var(--principal-hover)}.login_signin__zvBqB{left:75%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);transition:.5s ease-in-out;width:50%;z-index:1}.login_signin_in_form__lXMRW{z-index:2}.login_image__Ug49d{padding:30px;transition:.9s ease-in-out .6s;width:70%}.login_panels_container__sPxqa{display:grid;grid-template-columns:repeat(2,1fr);height:100%;left:0;position:absolute;top:0;width:100%}.login_panel__H1Tw1{align-items:flex-end;align-items:center;display:flex;flex-direction:column;text-align:center;z-index:7}.login_panel__H1Tw1.login_content__GI2fA{color:#fff;transition:.9s ease-in-out .6s}.login_panel__H1Tw1 h3{color:#fff;font-size:1.5em;font-weight:600;line-height:3;margin-top:13%}.login_panel__H1Tw1 p{color:#fff;font-size:1rem}.login_transparent__uxKtG{align-items:center;background:none;border:2px solid #fff;font-size:.8rem;font-weight:600;height:41px;margin:0;width:130px}.login_left-panel__sopd2{padding:3rem 17% 2rem 12%;pointer-events:all}.login_logo_nav__jEi2N{width:10%}@media (max-width:870px){.login_contenedor__y4ie4{height:100vh;min-height:80px}.login_contenedor__y4ie4:before{bottom:68%;height:1500px;left:30%;right:auto;top:auto;-webkit-transform:translateX(-50%);transform:translateX(-50%);transition:2s ease-in-out;width:1500px}.login_signin__zvBqB{left:50%;top:10%;-webkit-transform:translate(-50%,100%);transform:translate(-50%,100%);width:100%}.login_panels_container__sPxqa{grid-template-columns:1fr;grid-template-rows:1fr 2fr 1fr}.login_panel__H1Tw1{align-items:center;flex-direction:row;justify-content:space-around;padding:2.5rem 8%}.login_content__GI2fA{padding-right:15%}.login_panel__H1Tw1 p{font-size:.7rem;padding:0 .5rem}.login_image__Ug49d{margin-left:55%;margin-top:-100px;width:300px}.login_transparent__uxKtG{font-size:.7rem;height:35px;width:110px}.login_left_panel__IgAri{grid-row:1/2}.login_forms_container__tHLQ2{height:100%;left:0;position:absolute;top:0;width:100%}}@media (max-width:570px){form{padding:0 1.5rem}.login_contenedor__y4ie4{min-height:120.9vh}.login_forms_container__tHLQ2{height:100%;left:0;position:absolute;top:-5%;width:100%}.login_forms_container_register__f7EPP{height:100%;left:0;position:absolute;top:-18%;width:100%}.login_image__Ug49d{display:none}.login_panel__H1Tw1.login_content__GI2fA{padding:.5rem 1rem}.login_contenedor__y4ie4:before{bottom:72%;left:50%}.login_input_field__PI3Np{background:#f0f0f0;border-radius:55px;display:grid;grid-template-columns:15% 85%;height:55px;margin:2px 0;max-width:380px;padding:0 .4rem;width:100%}}.home_section__nvKYA{background-image:url(https://firebasestorage.googleapis.com/v0/b/images-b907b.appspot.com/o/bg.png?alt=media&token=0ca7a3c2-88a2-4709-99f4-d5f05ebd94a2);background-repeat:no-repeat;height:90vh;width:100%}.home_text_container__wW0Kb p:first-child{color:#1a1a1a;font-family:calibri;font-size:60px;font-weight:700;letter-spacing:1px}.home_text_container__wW0Kb p:nth-child(2){color:#403e3e;font-family:calibri;font-size:22px;font-weight:700;line-height:50px;width:70%}.home_text_container__wW0Kb p{line-height:0;margin:45px 0 25px}.home_text_container__wW0Kb{left:5%;position:absolute;top:42%;-webkit-transform:(-13%,-42%);transform:(-13%,-42%)}.home_text_container__wW0Kb button{border-radius:10px;font-family:calibri;font-size:14px;font-weight:700;height:42px;margin:0 10px;outline:none;width:200px}.home_hire_btn__bSyIj{background-color:#ffd82a;border:none;color:#fff}.home_model__JoN0e{bottom:0;height:560px;left:85%;position:absolute;-webkit-transform:translateX(-70%);transform:translateX(-70%);z-index:1}.home_footer__GSKtc{background:#ffd82a;color:#fff;margin-top:2%}.home_benefits__zZJ91{display:grid;grid-template-columns:repeat(2,100%);padding:20px;text-align:center;width:50%}.home_benefits__zZJ91 img{width:80%}.home_opinion__BFPVk{padding:20px;text-align:center;width:100%}.home_opinion__BFPVk img{width:100%}@media (max-width:1167px){.home_text_container__wW0Kb p:first-child{color:#1a1a1a;font-family:calibri;font-size:50px;font-weight:700;letter-spacing:1px}.home_text_container__wW0Kb p:nth-child(2){color:#403e3e;font-family:calibri;font-size:22px;font-weight:700;line-height:50px}}@media (max-width:900px){.home_model__JoN0e{display:none}.home_section__nvKYA{background-image:url(https://firebasestorage.googleapis.com/v0/b/images-b907b.appspot.com/o/bg.png?alt=media&token=0ca7a3c2-88a2-4709-99f4-d5f05ebd94a2);background-repeat:no-repeat;height:90vh;width:80%}}@media (max-width:700px){.home_text_container__wW0Kb p:first-child{color:#1a1a1a;font-family:calibri;font-size:40px;font-weight:700;letter-spacing:1px}.home_text_container__wW0Kb p:nth-child(2){color:#403e3e;font-family:calibri;font-size:22px;font-weight:700;line-height:50px}}@media (max-width:500px){.home_text_container__wW0Kb p:first-child{color:#1a1a1a;font-family:calibri;font-size:20px;font-weight:700;letter-spacing:1px;margin-top:-200px}.home_model__JoN0e{display:block;height:40%;margin-bottom:60px;margin-left:-150px}.home_text_container__wW0Kb p:nth-child(2){color:#403e3e;font-family:calibri;font-size:14px;font-weight:700;line-height:50px}}
h12{
	font-size: 10px;
}

#registration-form{
	max-width: 800px;
	margin: 120px auto;
}

#registration-form .imageA{
	float:left;
	background-image: url("../img/auto.jpg");
	height: 1300px;
	width: 50%;
	background-size: cover;
	background-position: 10%;
	border-top-left-radius: 100px 100px;
	border-bottom-left-radius: 100px 100px;
	
}
.imageNomina{
	float:left;
	background-image: url("../img/nomina.jpg");
	height: 1100px;
	width: 50%;
	background-size: cover;
	background-position: 50%;
	border-top-left-radius: 100px 100px;
	border-bottom-left-radius: 100px 100px;
}
.imageHipotecario{
	float:left;
	background-image: url("../img/hipoteca.jpg");
	height: 1210px;
	width: 50%;
	background-size: cover;
	background-position: 50%;
	border-top-left-radius: 100px 100px;
	border-bottom-left-radius: 100px 100px;
}

#registration-form .frmA{
	float:right;
	height: 1300px;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: #DCEDC8;
	border-top-right-radius: 100px 100px;
	border-bottom-right-radius: 100px 100px;
}
.frmNomina{
	float:right;
	height: 1100px;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: #DCEDC8;
	border-top-right-radius: 100px 100px;
	border-bottom-right-radius: 100px 100px;
}
.frmHipotecario{
	float:right;
	height: 1210px;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: #DCEDC8;
	border-top-right-radius: 100px 100px;
	border-bottom-right-radius: 100px 100px;
}


#registration-form h1{
	margin-top: 30px;
	margin-bottom: 20px;
}
#h1-form{
	color: #222;
}

#registration-form .form-control{
	width: 90%;
	padding: 12px 20px;
	height: auto;
}


@media screen and (max-width: 700px){
	#registration-form .imageA{
		width: 30%;
	    background-position: 60%;
	}
	#registration-form .imageHipotecario{
		width: 30%;
	    background-position: 60%;
	}
	#registration-form .imageNomina{
		width: 30%;
	    background-position: 60%;
	}

	#registration-form .frmA{
		width: 70%;
	}
	#registration-form .frmHipotecario{
		width: 70%;
	}
	#registration-form .frmNomina{
		width: 70%;
	}
	#registration-form .form-control{
		width: 100%;
	}
}

@media screen and (max-width: 500px){
	#registration-form .imageNomina{
		display: none;
	}
	#registration-form .imageA{
		display: none;
	}
	#registration-form .imageHipotecario{
		display: none;
	}

	#registration-form .frmNomina{
		width: 100%;
	}
	#registration-form .frmA{
		width: 100%;
	}
	#registration-form .frmHipotecario{
		width: 100%;
	}

	#registration-form h1{
		text-align: center;
	}

	#registration-form .btn{
		width: 100%;
		margin-top: 20px;
	}
}
/* ------------------------------------ */
h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 34px;
	color: #333;
	text-transform: uppercase;
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #8eb640;
}
a1 {
	color: #ffffff;
	font-size: 30px;
}
a2 {
	color: #ffffff;
	font-size: 22px;
}
a3 {
	font-size: 16px;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	-webkit-appearance: 0;
	scroll-padding: 0;
}
hr {
	height: 2px;
    width: auto;
    text-align: center;
    position: relative;
    background: #8eb640;
    margin: 0;
    margin-bottom: 40px;
    border: 0;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Navegación */
#logo{
	height: 60px;
	width: 100px;
}
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-family: 'Dancing Script', cursive;
	font-size: 36px;
	color: #8eb640;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #ddd;
	font-weight: 500;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	float: left;
	margin: 10px 15px 0 15px;
	background-color: #0000004f;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #8eb640;
	background-color: #ffffff00;
}
.on {
	background-color: #262626 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #8eb640 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #8eb640;
	border-color: #8eb640;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	margin-bottom: 70px;
}
.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
	color: rgba(255,255,255,0.8);
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #72a411;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #628d0f;
}
/* Header Seccion */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/credito.png) no-repeat center center;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.4);
}
.intro h1 {
	font-family: 'arial',bold;
    color: #fff;
    font-size: 6em;
    font-weight: 70;
    margin-top: 0;
    margin-bottom: 10px;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 40px;
}
header .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
	text-align: center;
}
/* About Seccion */
#icon{
	height: 30px;
	width: 30px;
}
#img-about{
	height: 600px;
	width: 600px;
}
#about {
	padding: 120px 0;
}
#about h3 {
	font-size: 20px;
}
#about .about-text {
	margin-left: 10px;
}
#about .about-img {
	display: inline-block;
	position: relative;
}
#about .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* Menu Seccion */
#icon1{
	height: 100px;
	width: 200px;
}
#restaurant-menu {
	padding: 0 0 60px 0;
}
#restaurant-menu .section-title {
	background: #444 url(../img/menu.jpg) center center no-repeat fixed;
	background-size: cover;
}
#restaurant-menu .section-title h2 {
	color: #fff;
}
#restaurant-menu img {
	width: 300px;
	box-shadow: 15px 0 #a7c44c;
}
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 26px;
	display: block;
	font-weight: 500;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 35px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 600;
	font-size: 17px;
	color: #555;
	border-bottom: 2px dotted rgb(213, 213, 213);
}
#restaurant-menu .menu-item-description {
	font-style: italic;
	font-size: 15px;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 600;
	color: #555;
	margin-top: -26px;
}
/* Inicio Sesion */
#sesion {
	color: #fff;
	background: #444 url(../img/team-bg.jpg) center top no-repeat fixed;
	background-size: cover;
}
#sesion .overlay {
	padding: 120px 0 80px 0;
	background: rgba(0, 0, 0, 0.6);
}
#sesion h2, #sesion p {
	color: #fff;
}
#sesion hr {
	background: #fff;
}
#sesion h3 {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	margin: 5px 0;
}
/* Equipo Seccion */
#team {
	color: #fff;
	background: #444 url(../img/team-bg.jpg) center top no-repeat fixed;
	background-size: cover;
}
#team .overlay {
	padding: 120px 0 80px 0;
	background: rgba(0, 0, 0, 0.6);
}
#team h2, #team p {
	color: #fff;
}
#team hr {
	background: #fff;
}
#team h3 {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	margin: 5px 0;
}
#team img {
	width: 280px;
	height: 450px;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .team-img {
	display: inline-block;
	position: relative;
}
#team .thumbnail .team-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
#team .thumbnail .caption {
	padding-top: 10px;
}
#team .thumbnail .caption p {
	color: rgba(255,255,255,0.7);
	padding: 0 10px;
	font-size: 15px;
}
/* Call Reservation Section */
details{
	background: #98BE65;
	padding: .5rem;
	margin: .5rem;
	border-radius: 6px;
	cursor: pointer;
}
details h1 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 20px;
	color: rgb(255, 250, 250);
}
details p {
	font-size: 16px;
	color: rgb(255, 250, 250);
}
details hr {
	background: #8eb640;
}
 #color{
	background: #ffffff;
	padding: .5rem;
	margin: .5rem;
	border-radius: 6px;
	cursor: pointer;
}
#call-reservation {
	padding: 50px 0;
	color: #fff;
	background: linear-gradient(to bottom, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#call-reservation .overlay {
	padding: 80px 0;
	background: #8eb640;
}
#call-reservation h2 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 400;
	margin: 0;
}
#call-reservation hr {
	background: #fff;
}
#call-reservation h3 {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	margin: 5px 0;
}
/* Contact Section */
#contact {
	padding: 100px 0 60px 0;
	background: #F6F6F6;
}
#contact .section-title p {
	color: #777;
}
#contact form {
	padding: 0;
}
#contact h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	color: #555;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0 40px 0;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}
#contact .contact-item p {
	font-size: 16px;
}
/* Footer Section*/
#footer {
	background: #262626;
	padding: 10px 0 0 0;
}
#footer h3 {
	color: #8eb640;
	font-weight: 200;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#footer .copyrights {
	padding: 10px 0;
	margin-top: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#779936+0,8eb640+50 */
	background: rgb(119,153,54); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 10%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 10%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779936', endColorstr='#8eb640', GradientType=0 ); /* IE6-9 */
}
#footer .social {
	margin: 10px 0 10px 0;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #fff;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 15px;
	color: rgba(255,255,255,0.8)
}
#footer a {
	color: #f6f6f6;
}
#footer a:hover {
	color: #333;
}
